@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-title {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.width-100 {
  width: 100%;
}

.full-width {
  width: 100%;
  height: 100%;
  display: flex;
}

.test-width {
  width: 1000px;
}

.cohorts-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: rgb(10, 10, 10); */
  justify-content: space-around;
}

@media (max-width: 1950px) {
  /* smaller than this pixel amount */
  .cohorts-container {
    width: 80%;
  }
}

.headers {
  display: flex;
  justify-content: center; /* center the text */
  align-items: center;
  padding: 10px;
  background-color: black;
}

.cohorts-container-child {
  flex: 1 0 25%;
  box-sizing: border-box;
  padding: 10px;
}
